/* Объявление переменных цветов страницы */
:root {
    --color-blue: #2196F3;
    --color-grey: #757575;
    --color-black: #212121;
    --color-logo: #000;
    --color-white: #fff;
    --background-color-grey: #F5F4FA;
    --footer-color: #2F303A;
}

/* Подключение основного и альтернативного шрифтов, цвета текста */
body {
    color: var(--color-grey);
    background-color: var(--color-white);

    font-family: Roboto, "Open Sans", "FF DIN", sans-serif;
}

/* СТУДИЯ */

/* Стилизация лого */
.logo {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.header .logo {
    color: var(--color-logo);
}

.header .web, 
.footer .web {
    color: var(--color-blue);
}

/* Значение по умолчанию для всех списков */
.list {
    list-style-type: none;
}

/* Значение по умолчанию для всех ссылок */
.link {
    text-decoration: none;
}

/* Стилизация навигации */
.nav > .link, 
.contacts > .link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.nav .link {
    color: var(--color-black);
}

.contacts .link {
    color: var(--color-grey);
}

/* Ховер и фокус на ссылки хедера и футера */
.nav .link:hover,
.nav .link:focus,
.contacts .link:hover,
.contacts .link:focus,
.contact-us .link:hover,
.contact-us .link:focus {
    color: var(--color-blue);
}

/* Фиктивный цвет героя */
.hero {
    background-color: var(--footer-color);
}

.hero .title {
    color: var(--color-white);

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.button {
    background-color: var(--color-blue);
    color: var(--color-white);

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    /* display: flex; */
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
}

.hero .button:hover,
.hero .button:focus {
    background-color: #188CE8;
}

/* Преимущества */
.benefits .title {
    color: var(--color-black);

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.benefits .text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/* Чем мы занимаемся */
.work .title,
.team .title {
    color: var(--color-black);

    font-family: Roboto;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

/* Наша команда */
.team {
    background-color:var(--background-color-grey);
}

.member, 
.position {
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.member {
    color: var(--color-black);

    font-weight: 500;
}

/* Футер */
.footer {
    background-color: var(--footer-color);
}

.footer .logo {
    color: var(--color-white);
}

.contact-us .link {
    color: var(--color-white);

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/* Прозрачность элементов футера */
.contact-us .mail,
.contact-us .tel { 
    color: rgba(255, 255, 255, 0.6);
}

/* ПОРТФОЛИО */

.portfolio .button {
    background-color: var(--background-color-grey);
    color: var(--color-black);
}

.portfolio .button:hover,
.portfolio .button:focus {
    background-color: var(--color-blue);
    color: var(--color-white);
}

.portfolio .title {
    color: var(--color-black);

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio .text {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
}


